@import "~variables.scss";

.toggle {
  z-index: 43;
  position: fixed;

  width: calc(#{$ma-header-height} - 1rem);
  height: calc(#{$ma-header-height} - 1rem);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: transparent;

  transition: 0.2s;

  &::before {
    content: '';
    position: absolute;
    width: calc(#{$ma-header-height} / 2);
    height: 2px;
    background: $white;
    transition: 0.2s;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 $white;
  }

  &::after {
    content: '';
    position: absolute;
    width: calc(#{$ma-header-height} / 2);
    height: 2px;
    background: $white;
    transition: 0.2s;
    transform: translateY(10px);
  }

  &--active {
    &::before {
      transform: translateY(0px) rotate(45deg);
      box-shadow: 0 0 0 $white;
    }

    &::after {
      transform: translateY(0px) rotate(-45deg);
    }
  }
}
